.ocupamos {
    width: 100%;
    //position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
        font-size: 2.22rem;
        padding: 1rem 2rem;
        text-align: center;
        background-color: var(--color-secundario);
        color: var(--color-primario);
        width: fit-content;
        font-family: "Source Serif Pro", serif;
        font-weight: 700;
        position: relative;
        align-self: start;
        padding-left: 10vw;
        margin-bottom: 5rem;
        border-top-right-radius: 100px;
        border-bottom-right-radius: 100px;

        @media only screen and (max-width: 600px) {
            padding-left: 2rem;
            font-size: 1.8rem;
            margin-bottom: 2rem;
        }
    }

    .content {
        display: flex;
        max-width: 90rem;
        gap: 4rem;

        @media only screen and (max-width: 600px) {
            flex-direction: column;
            align-items: center;
        }

        .parrafos {
            display: flex;
            flex-direction: column;
        }

        img {
            width: 40rem;
            object-fit: contain;
        }
    }
}
