.services {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 8rem;
  padding: 2rem;

  h2 {
    align-self: start;
    background-color: var(--color-primario);
    color: var(--color-secundario);
    padding-left: 10vw;
    font-size: 4.5rem;
    margin-bottom: 5rem;

    @media only screen and (max-width: 600px) {
      font-size: 3rem;
    }
  }

  .container {
    max-width: 90rem;
    display: flex;
    flex-direction: column;
    gap: 5rem;

    .service {
      padding: 3rem 2rem;
      border-top-left-radius: 50px;
      border-bottom-right-radius: 50px;
      border-bottom-left-radius: 50px;
      display: flex;
      align-items: center;
      box-shadow: rgba(119, 60, 191, 0.552) 0px 0px 15px;

      @media only screen and (max-width: 8s00px) {
        flex-direction: column;
        margin: 0 auto;
        align-items: center;
        max-width: 90vw;
      }

      &:nth-child(2n) {
        border-top-right-radius: 50px;
        border-top-left-radius: 0;
      }

      img {
        margin: 2rem;
        width: 10rem;
        object-fit: contain;
      }

      div {
        h3 {
          font-size: 2rem;
          text-align: center;
          font-weight: 500;
          font-family: "Poppins", Times, serif;
          margin: 1rem 0 0 0;
          color: var(--color-secundario);
        }
      }
    }
  }
}
