@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@300;400;600;700;900&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
@media only screen and (max-width: 1000px) {
  html {
    font-size: 53%;
  }
}

:root {
  --color-primario: white;
  --color-secundario: #8c52ff;
  --color-secundario: #480da0;
}

.App {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section {
  padding-top: 12rem;
}
@media only screen and (max-width: 600px) {
  .section {
    padding-top: 8rem;
  }
}

.section--hidden {
  opacity: 0;
  transform: translateY(8rem);
}

h2 {
  font-size: 3.5rem;
  padding: 1rem 2rem;
  background-color: var(--color-secundario);
  color: var(--color-primario);
  width: fit-content;
  font-family: "Source Serif Pro", serif;
  font-weight: 700;
}
@media only screen and (max-width: 600px) {
  h2 {
    font-size: 2.7rem;
    text-align: center;
  }
}

h3 {
  font-size: 2.5rem;
  font-family: "Source Serif Pro", serif;
  font-weight: 600;
}

h4 {
  font-size: 2.22rem;
  padding: 1rem 2rem;
  text-align: center;
  background-color: var(--color-secundario);
  color: var(--color-primario);
  width: fit-content;
  font-family: "Source Serif Pro", serif;
  font-weight: 700;
}

p {
  font-size: 1.7rem;
  margin: 2rem;
}

/* .construction {
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    background-color: #8c52ff;
    color: white;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 2rem;
    position: fixed;

    h1 {
        margin-bottom: 2rem;
    }
}
 */
.intro {
  background-color: var(--color-secundario);
  height: 100vh;
  top: -3rem;
  left: 0;
  width: 100%;
  position: fixed;
  z-index: 9999;
  display: flex;
  gap: 3rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 1s;
}
.intro img {
  opacity: 0;
  width: 50rem;
  border-radius: 10px;
  animation: animacion 0.5s forwards;
  animation-delay: 0.5s;
}
@media only screen and (max-width: 800px) {
  .intro img {
    width: 30rem;
  }
}

@keyframes animacion {
  100% {
    opacity: 1;
  }
}
header {
  width: 100%;
}
header .menu-desktop {
  z-index: 99;
  display: flex;
  align-items: center;
  width: 100%;
  background-color: var(--color-secundario);
  position: fixed;
  padding: 1rem 3rem;
}
@media only screen and (max-width: 800px) {
  header .menu-desktop {
    display: none;
  }
}
header .menu-desktop .logo img {
  margin-left: 7rem;
  width: 20rem;
  border-radius: 5px;
  transition: all 0.4s;
  border: 2px solid #2f2f2f;
}
@media only screen and (max-width: 1200px) {
  header .menu-desktop .logo img {
    margin-left: 0rem;
  }
}
header .menu-desktop .logo img:hover {
  transform: scale(1.1);
}
header .menu-desktop .index {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
header .menu-desktop .index ul {
  display: flex;
  gap: 3rem;
  list-style: none;
  font-size: 1.8rem;
  letter-spacing: 0.2px;
}
header .menu-desktop .index ul a {
  cursor: pointer;
  padding: 0.2rem 0.8rem;
  background-color: var(--color-primario);
  border-radius: 5px;
  border: 3px solid var(--color-primario);
  transition: all 0.4s;
  color: var(--color-secundario);
  text-decoration: none;
  transition: all 0.4s;
  font-weight: 500;
  font-family: "Poppins", serif;
}
header .menu-desktop .index ul a:hover {
  color: var(--color-primario);
  border: 3px solid var(--color-primario);
}
header .menu-desktop .index ul a:hover {
  transform: scale(1.1);
  background-color: var(--color-secundario);
}
header .menu-mobile {
  display: none;
  z-index: 99;
  width: 100%;
  background-color: var(--color-secundario);
  position: fixed;
  bottom: 0;
  padding: 2rem 3rem;
  border-top: 2px solid var(--color-primario);
}
@media only screen and (max-width: 800px) {
  header .menu-mobile {
    display: unset;
  }
}
header .menu-mobile .icons ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 2rem;
  list-style: none;
  line-height: 0;
}
header .menu-mobile .icons ul a img {
  width: 3rem;
  border-radius: 5px;
  filter: invert(100%);
}
header .menu-mobile .icons ul a .not-filter {
  width: 4rem;
  filter: none;
}

.slogan {
  margin-top: 6rem;
  width: 100%;
  height: 100vh;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  background-color: transparent;
}
@media only screen and (max-width: 800px) {
  .slogan {
    margin-top: -5rem;
    margin-bottom: 5rem;
    height: 80vh;
  }
}
.slogan p {
  font-family: "Roboto Slab", serif;
  font-family: "Source Serif Pro", serif;
  margin: 0;
  font-size: 12rem;
}
.slogan .creating-connections {
  width: max-content;
  display: flex;
  font-size: 12rem;
  font-weight: 700;
  line-height: 1.2;
  flex-direction: column;
  position: relative;
  user-select: none;
  justify-content: center;
  align-items: center;
  margin-left: -10rem;
  gap: 0;
}
@media only screen and (max-width: 1200px) {
  .slogan .creating-connections {
    margin-left: -3rem;
  }
}
@media only screen and (max-width: 800px) {
  .slogan .creating-connections {
    margin-left: -2rem;
  }
}
.slogan .creating-connections .creating {
  align-self: start;
  opacity: 0;
  animation: animacion 1.4s forwards;
  animation-delay: 2.3s;
}
.slogan .creating-connections .creating p {
  font-size: 10rem;
  text-transform: uppercase;
  line-height: 0.4;
}
@media only screen and (max-width: 800px) {
  .slogan .creating-connections .creating p {
    font-size: 6rem;
    line-height: 0.7;
  }
}
@media only screen and (max-width: 600px) {
  .slogan .creating-connections .creating p {
    font-size: 5rem;
  }
}
.slogan .creating-connections .connections {
  color: var(--color-secundario);
  opacity: 0;
  animation: animacion 1.4s forwards;
  animation-delay: 3s;
}
.slogan .creating-connections .connections p {
  font-size: 15rem;
  line-height: 1;
}
@media only screen and (max-width: 800px) {
  .slogan .creating-connections .connections p {
    font-size: 8rem;
  }
}
@media only screen and (max-width: 600px) {
  .slogan .creating-connections .connections p {
    font-size: 6.5rem;
  }
}
.slogan .building-communitites {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 12rem;
  font-weight: 700;
  line-height: 1.2;
  margin-left: -10rem;
  user-select: none;
}
@media only screen and (max-width: 1200px) {
  .slogan .building-communitites {
    margin-left: 8rem;
  }
}
@media only screen and (max-width: 800px) {
  .slogan .building-communitites {
    margin-left: 2rem;
  }
}
.slogan .building-communitites .building {
  opacity: 0;
  animation: animacion 1.3s forwards;
  animation-delay: 3.6s;
  align-self: start;
}
.slogan .building-communitites .building p {
  font-size: 12rem;
  text-transform: uppercase;
  line-height: 0.4;
}
@media only screen and (max-width: 800px) {
  .slogan .building-communitites .building p {
    font-size: 6rem;
    line-height: 0.7;
  }
}
@media only screen and (max-width: 600px) {
  .slogan .building-communitites .building p {
    font-size: 4.5rem;
  }
}
.slogan .building-communitites .communitites {
  color: var(--color-secundario);
  opacity: 0;
  animation: animacion 1.3s forwards;
  animation-delay: 4.2s;
}
.slogan .building-communitites .communitites p {
  font-size: 15rem;
  line-height: 1;
}
@media only screen and (max-width: 1200px) {
  .slogan .building-communitites .communitites p {
    font-size: 14rem;
  }
}
@media only screen and (max-width: 1000px) {
  .slogan .building-communitites .communitites p {
    font-size: 12rem;
  }
}
@media only screen and (max-width: 800px) {
  .slogan .building-communitites .communitites p {
    font-size: 8rem;
  }
}
@media only screen and (max-width: 600px) {
  .slogan .building-communitites .communitites p {
    font-size: 6rem;
  }
}

@keyframes animacion {
  100% {
    opacity: 1;
  }
}
@keyframes aparecer {
  70% {
    opacity: 0; /* Comienza en 0 */
  }
  100% {
    opacity: 1; /* Termina en 1 */
  }
}
.introduction {
  position: relative;
  margin-top: 10rem;
}
@media only screen and (max-width: 800px) {
  .introduction {
    margin-top: 0rem;
  }
}
@media only screen and (max-width: 600px) {
  .introduction {
    margin-top: -10rem;
  }
}
.introduction p {
  max-width: 90rem;
}
.introduction h1 {
  font-size: 4.5rem;
  color: var(--color-secundario);
  font-weight: bold;
  text-transform: uppercase;
  text-align: start;
  font-family: "Source Serif Pro", serif;
  border-radius: 20px;
}
@media only screen and (max-width: 800px) {
  .introduction h1 {
    padding-left: 2rem;
    font-size: 3rem;
  }
}
.introduction .start-line {
  margin-top: 4rem;
  left: 0;
  top: -3rem;
  height: 4px;
  border-radius: 100px;
  width: 20vw;
  margin-bottom: 4rem;
  background-color: var(--color-secundario);
}
.introduction .end-line {
  position: absolute;
  right: 0;
  height: 4px;
  border-radius: 100px;
  width: 20vw;
  margin-top: 3rem;
  background-color: var(--color-secundario);
}

.ocupamos {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ocupamos h2 {
  font-size: 2.22rem;
  padding: 1rem 2rem;
  text-align: center;
  background-color: var(--color-secundario);
  color: var(--color-primario);
  width: fit-content;
  font-family: "Source Serif Pro", serif;
  font-weight: 700;
  position: relative;
  align-self: start;
  padding-left: 10vw;
  margin-bottom: 5rem;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
}
@media only screen and (max-width: 600px) {
  .ocupamos h2 {
    padding-left: 2rem;
    font-size: 1.8rem;
    margin-bottom: 2rem;
  }
}
.ocupamos .content {
  display: flex;
  max-width: 90rem;
  gap: 4rem;
}
@media only screen and (max-width: 600px) {
  .ocupamos .content {
    flex-direction: column;
    align-items: center;
  }
}
.ocupamos .content .parrafos {
  display: flex;
  flex-direction: column;
}
.ocupamos .content img {
  width: 40rem;
  object-fit: contain;
}

.services {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 8rem;
  padding: 2rem;
}
.services h2 {
  align-self: start;
  background-color: var(--color-primario);
  color: var(--color-secundario);
  padding-left: 10vw;
  font-size: 4.5rem;
  margin-bottom: 5rem;
}
@media only screen and (max-width: 600px) {
  .services h2 {
    font-size: 3rem;
  }
}
.services .container {
  max-width: 90rem;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}
.services .container .service {
  padding: 3rem 2rem;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
  display: flex;
  align-items: center;
  box-shadow: rgba(119, 60, 191, 0.552) 0px 0px 15px;
}
@media only screen and (max-width: 8s00px) {
  .services .container .service {
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    max-width: 90vw;
  }
}
.services .container .service:nth-child(2n) {
  border-top-right-radius: 50px;
  border-top-left-radius: 0;
}
.services .container .service img {
  margin: 2rem;
  width: 10rem;
  object-fit: contain;
}
.services .container .service div h3 {
  font-size: 2rem;
  text-align: center;
  font-weight: 500;
  font-family: "Poppins", Times, serif;
  margin: 1rem 0 0 0;
  color: var(--color-secundario);
}

.values-section {
  max-width: 90vw;
  margin-bottom: 7rem;
  margin-top: 3rem;
}
.values-section h2 {
  margin-bottom: 5rem;
  border-radius: 10px;
}
.values-section .logos {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6rem;
  text-align: center;
  margin: 6rem 0;
}
@media only screen and (max-width: 800px) {
  .values-section .logos {
    flex-wrap: wrap;
  }
}
.values-section .logos .value h3 {
  font-size: 1.8rem;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}
.values-section .logos .value img {
  width: 12rem;
}
@media only screen and (max-width: 600px) {
  .values-section .logos .value img {
    width: 8rem;
  }
}

.admision {
  display: none;
  position: absolute;
  margin-top: 12rem;
  max-width: 90vw;
}
@media only screen and (max-width: 600px) {
  .admision {
    margin-top: 10rem;
  }
}
.admision a {
  font-weight: 600;
  color: var(--color-secundario);
}
.admision .flecha1,
.admision .flecha2 {
  width: 13rem;
  position: absolute;
  filter: hue-rotate(270deg);
}
@media only screen and (max-width: 600px) {
  .admision .flecha1,
  .admision .flecha2 {
    display: none;
  }
}
.admision .flecha1 {
  top: 22rem;
  right: 28rem;
  transform: scaleY(-1) rotate(-10deg);
}
.admision .flecha2 {
  bottom: 13rem;
  right: 28rem;
  transform: scaleY(-1) rotate(-100deg);
}
.admision h2 {
  border-radius: 10px;
}
.admision body,
.admision html {
  height: 100%;
}
.admision .pasos {
  margin-top: 10rem;
  max-width: 90rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}
@media only screen and (max-width: 600px) {
  .admision .pasos {
    grid-template-columns: 1fr;
    margin-top: 5rem;
  }
}
.admision .pasos .paso {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  border-radius: 10px;
  padding: 3rem 1rem;
  background-color: rgba(131, 74, 255, 0.191);
}
.admision .pasos .paso:nth-child(2) {
  margin-top: 20rem;
}
@media only screen and (max-width: 600px) {
  .admision .pasos .paso:nth-child(2) {
    margin-top: 0rem;
  }
}
.admision .pasos .paso:nth-child(3) {
  margin-top: -20rem;
}
@media only screen and (max-width: 600px) {
  .admision .pasos .paso:nth-child(3) {
    margin-top: 0;
  }
}
.admision .pasos .paso h3 {
  text-align: center;
  color: var(--color-secundario);
  margin: 3rem 0 1rem;
}
@media only screen and (max-width: 600px) {
  .admision .pasos .paso h3 {
    margin: 2rem 0 0rem;
    font-weight: 600;
  }
}
.admision .pasos .paso img {
  border-radius: 10px;
  width: 15rem;
}
@media only screen and (max-width: 600px) {
  .admision .pasos .paso img {
    width: 8rem;
  }
}

.form-section {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.form-section .call {
  text-align: center;
}
.form-section .call h3 {
  font-size: 3rem;
  animation: pulse 1.3s forwards;
  animation-delay: 0.3s;
  animation-iteration-count: infinite;
}
@media only screen and (max-width: 600px) {
  .form-section .call h3 {
    font-size: 2.4rem;
  }
}
.form-section .call img {
  margin: 2rem 0;
  width: 6rem;
  transform: rotate(90deg);
}
.form-section form {
  background-color: var(--color-secundario);
  padding: 2rem;
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  gap: 2rem;
}
.form-section form .form-part {
  position: relative;
  color: white;
}
@media only screen and (max-width: 600px) {
  .form-section form .form-part {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
  }
}
.form-section form .form-part input,
.form-section form .form-part select,
.form-section form .form-part textarea {
  padding: 0.6rem 1rem;
  width: 35rem;
  font-size: 1.8rem;
  border: 1px solid transparent;
  border-radius: 5px;
}
.form-section form .form-part input:focus,
.form-section form .form-part select:focus,
.form-section form .form-part textarea:focus {
  outline-color: #1a1a1a;
}
@media only screen and (max-width: 600px) {
  .form-section form .form-part input,
  .form-section form .form-part select,
  .form-section form .form-part textarea {
    position: relative;
    left: 0;
    font-size: 1.5rem;
  }
}
.form-section form .form-part textarea {
  resize: none;
}
.form-section form button {
  padding: 1rem;
  font-size: 2rem;
  width: 18rem;
  align-self: center;
  border-radius: 10px;
  background-color: white;
  border: 3px solid var(--color-secundario);
  color: var(--color-secundario);
  transition: all 0.4s;
}
.form-section form button:hover {
  border: 3px solid white;
  color: white;
  background-color: var(--color-secundario);
  transform: scale(1.1);
}

@keyframes pulse {
  0% {
    /* Comienza en 0 */
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1); /* Termina en 1 */
  }
}
.faqs {
  background-color: var(--color-primario);
  display: flex;
  align-items: center;
  color: #1a1a1a;
  flex-direction: column;
}
.faqs h2 {
  font-size: 6rem;
  color: var(--color-secundario);
  background-color: var(--color-primario);
}
.faqs p {
  text-align: center;
}
.faqs .faq {
  margin: 1.5rem;
  padding: 1.5rem;
  width: 76.8rem;
  font-weight: 400;
  max-width: 90vw;
  cursor: pointer;
  background-color: white;
  border: 3px solid var(--color-secundario);
  border-radius: 0.8rem;
  box-shadow: 0rem 0rem 1rem rgba(255, 255, 255, 0.2);
}
.faqs .faq .faq-question {
  position: relative;
  font-size: 1.6rem;
  padding-right: 8rem;
  transition: all 0.4s ease;
  color: var(--color-secundario);
}
@media only screen and (max-width: 600px) {
  .faqs .faq .faq-question {
    padding-right: 4rem;
  }
}
.faqs .faq .faq-question::after {
  content: "";
  position: absolute;
  top: 45%;
  right: 1rem;
  transform: rotate(45deg) translateY(-50%);
  width: 1.5rem;
  height: 1.5rem;
  background-image: url("../assets/icons/x-icon.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  transition: all 0.4s ease-out;
}
.faqs .faq .faq-answer {
  height: 0;
  opacity: 0;
  font-size: 1.5rem;
  overflow-y: hidden;
  transition: all 0.4s;
}
.faqs .faq.open .faq-question {
  margin-bottom: 1.5rem;
}
.faqs .faq.open .faq-question::after {
  transform: translateY(-50%) rotate(-90deg);
}
.faqs .faq.open .faq-answer {
  opacity: 1;
  height: auto;
  transition: all 0.4s 0.2s;
}

footer {
  width: 100%;
  background-color: var(--color-secundario);
  margin-top: 7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  gap: 7rem;
}
@media only screen and (max-width: 800px) {
  footer {
    margin-bottom: 7rem;
  }
}
footer p {
  color: var(--color-primario);
}

/*# sourceMappingURL=style.css.map */
